@media screen and (min-width: 768px) {
    body {
        /* ====INDEX */

        .primeraSeccionIndex {
            .fotosIndex {
                display: inline-block;
                width: 95vw;
                max-width: 600px;
                max-height: 500px;
                .img1Index {
                    display: block;
                    width: 40vw;
                    max-width: 350px;
                    position: relative;
                    left: 20rem;
                    top: 17rem;
                    z-index: 1;
                    filter: grayscale(0);
                    animation: entradaFotoDerecha 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
                .img2Index {
                    position: relative;
                    bottom: 10rem;
                    animation: entradaFotoIzquierda 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
                .img3Index {
                    display: block;
                    width: 40vw;
                    max-width: 250px;
                    position: relative;
                    bottom: 30rem;
                    left: 22rem;
                    z-index: -1;
                    animation: entradaFotoDerecha 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    filter: grayscale(1);
                }
            }
            .primerTextoIndex {
                max-width: 800px;
            }
            @keyframes entradaFotoDerecha {
                0% {
                    transform: translateX(2000px);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            @keyframes entradaFotoIzquierda {
                0% {
                    transform: translateX(-2000px);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }

        /* ====CLIENTES==== */

        .h1Clientes {
            margin: 3rem 0 1rem 0;
        }
        .seccionClientes {
            .clientes {
                width: 90vw;
                max-width: 775px;

                .listaClientes {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    li {
                        margin: 1rem 0;
                    }
                }
            }
        }

        /* ====FOOTER==== */

        footer {
            display: flex;
            flex-direction: column;
            font-size: 1.1em;

            nav {
                width: 80vw;
                max-width: 750px;
                justify-content: center;
                margin: 1rem 0;

                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0;

                    li {
                        margin: 0;
                        border-bottom: none;
                        width: 100%;
                        justify-content: center;
                    }
                }
            }

            .textosFooter {
                font-size: 0.9em;
                width: 90vw;
                max-width: 850px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0.5rem 0;

                a {
                    text-decoration: underline;
                    color: $blue;

                    &:hover {
                        color: $orange;
                        font-weight: 400;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1200px) {
    body {
        nav {
            a {
                &:hover {
                    color: $orange !important;
                    font-weight: 400;
                }
            }
        }
        img:not(.imgCarousel) {
            &:hover {
                transform: scale(1.1) !important;
                transition: transform 0.5s !important;
            }
        }
        h2:hover {
            &:hover {
                animation-name: hoverh2;
                animation-duration: 0.5s;
            }
        }

        @keyframes hoverh2 {
            0% {
                transform: translateY(10px);
            }

            25% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(7px);
            }

            75% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(3px);
            }
        }

        @mixin width ($min-width, $max-width) {
            min-width: $min-width;
            max-width: $max-width;
        }

        /* =====INDEX===== */

        .primeraSeccionIndex {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .primerTextoIndex {
                width: 45vw;
            }

            .fotosIndex {
                display: block;
                position: relative;
                right: 5rem;
                width: 40vw;
                max-width: 500px;
                img {
                    @include width(200px, 400px);
                }
                .img2Index {
                    &:hover {
                        &:hover {
                            z-index: 3;
                            filter: grayscale(0);
                        }
                    }
                }
                .img3Index {
                    &:hover {
                        filter: grayscale(0);
                        z-index: 3;
                    }
                }
            }
        }

        /* ====SERVICIOS==== */

        .primeraSeccionServicios {
            flex-direction: row;
            justify-content: space-around;
            margin-top: 5rem;

            .listaServicios {
                .linkPlanta {
                    a {
                        color: $grey;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .trabajosEspeciales {
            &:hover {
                background: rgb(247, 152, 36);
                background: linear-gradient(15deg, rgba(247, 152, 36, 1) 0%, rgba(177, 193, 192, 1) 100%);
                color: $blue !important;
                cursor: pointer;
                transform: scale(1.1);
                transform: translateY(-10px);
                transition: transform 0.3s;
            }

            a {
                &:hover {
                    color: $blue;
                    font-weight: 500;
                }
            }
        }

        /* ===QUIENES SOMOS==== */

        .h1Quienes {
            text-align: center;
            margin: 4rem 0;
            font-size: 2.8rem;
        }

        .seccionQuienes {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-content: center;
            .quienesSomos {
                width: 45vw;
                max-width: 700px;
                height: 80vh;
                .imgQuienes {
                    width: 80%;
                    max-width: 500px;
                    animation: none;
                    filter: grayscale(0.7);                        
                    display: block;
                    position: relative;
                    left: 8rem;
                    top: 3rem;
                    z-index: 2;
                    clip-path: circle();
                    &:hover {
                        filter: grayscale(0);
                    }
                }
                .imgQuienes2 {
                    display: block;
                    position: relative;
                    bottom: 30rem;
                    right: 3rem;
                    width: 70%;
                    max-width: 350px;
                    clip-path: circle();
                    filter: grayscale(0.7);
                    &:hover {
                        z-index: 3;
                        filter: grayscale(0);
                    }
                }
                .imgQuienes3 {
                    display: block;
                    position: relative;
                    bottom: 32rem;
                    width: 40%;
                    max-width: 250px;
                    clip-path: circle();
                    z-index: -1;
                }      
            }                
            .textoQuienes {
                width: 45vw;
                max-width: 700px;
            }
        }

        .seccionMision {
            flex-direction: column;
            .textoMision {
                max-width: 900px;
                margin: 3rem 0;
            }
            
        }

        /* ====CLIENTES==== */

        .seccionClientes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .imgClientes {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 45vw;
                max-width: 800px;

                img {
                    width: 45vw;
                    max-width: 800px;
                    animation: none;
                }
            }

            .clientes {
                width: 45vw;
                max-width: 800px;
                margin: 0;

                .listaClientes {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;

                    li {
                        width: 45vw;
                        max-width: 250px;
                        padding: 0;
                        animation: none;

                        &:hover {
                            background: rgb(247, 152, 36);
                            background: linear-gradient(15deg, rgba(247, 152, 36, 1) 0%, rgba(177, 193, 192, 1) 100%);
                            font-weight: 500;
                            color: $blue;
                            cursor: pointer;
                            transform: scale(1.1);
                            transform: translateY(-10px);
                            transition: transform 0.3s;
                        }

                        a {
                            display: block;
                            width: 100%;
                            padding: 0.3rem 0.5rem;

                            &:hover {
                                color: $blue;
                                font-weight: 500;
                            }

                        }
                    }
                }
            }
        }

        .seccionAgradecimiento {
            margin: 4rem 0;
        }

        /* ====CONTACTO==== */

        .formButton {
            &:hover {
                background: linear-gradient(15deg, rgba(247, 152, 36, 1) 0%, rgba(177, 193, 192, 1) 100%);
                color: $blue !important;
                font-weight: 500;
                transform: scale(1.1);
                transition: transform 0.5s;
            }
        }
    }
}