body {
    background-color: $blue;
    color: $grey;

    nav {
        a {
            color: $blue !important;
        }

    }

    @mixin width ($min-width, $max-width) {
        min-width: $min-width;
        max-width: $max-width;
    }

    /* --- ANIMACION H1 ---*/
    @keyframes text-focus-in {
        0% {
            filter: blur(12px);
            opacity: 0;
        }

        100% {
            filter: blur(0px);
            opacity: 1;
        }
    }

    h1 {
        animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        font-size: $h1FontSize;
    }

    h2 {
        font-size: $h2FontSize;
    }

    /* ====INDEX==== */

    .primeraSeccionIndex {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 95vw;

            h2 {
                margin: 1.1rem 0;
            }
        }

        .primerTextoIndex {
            p {
                -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }
        }

        .fotosIndex {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: fit-content;



            .img1Index {
                display: none;
            }

            .img2Index {
                width: 100vw;
                max-width: 500px;
                animation: entradaFotoDerecha 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                filter: grayscale(1);
            }

            .img3Index {
                display: none;
            }

            @keyframes entradaFotoDerecha {
                0% {
                    transform: translateX(2000px);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }

    .segundaSeccionIndex {
        display: flex;
        flex-direction: column;
        align-items: center;

        .segundoTextoIndex {
            width: 95vw;
            max-width: 800px;

            h2 {
                margin: 3.5rem 0 1.1rem 0;
            }

            p {
                -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }
        }
    }

    iframe {
        width: 100vw;
        height: 50vh;
        @include width(300px, 800px);
        margin: 2rem 0;
    }

    

    /* ------------------- */

    $span :(color : $orange,
        font-weight : 500);

    span {
        color: map-get($span, color);
        font-weight: map-get($span, font-weight);
    }

    /* ====SERVICIOS==== */

    .h1Servicios {
        text-align: center;
        margin: 3rem;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw !important;

        .medidaCarousel {
            width: 100vw !important;
            max-width: 1280px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
        }
    }

    .primeraSeccionServicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 95vw;
        margin: 3rem auto 0 auto;

        .textoServicios {
            max-width: 800px;
        }

        .listaServicios {
            margin-top: 2rem;

            ul {
                list-style-image: url(../images/gear.png);

                li {
                    font-weight: 500;
                    line-height: 3rem;
                    padding: auto 0;
                }

                .linkPlanta {
                    a {
                        text-decoration: underline;
                        color: $orange;
                        font-weight: 500;
                    }

                }
            }
        }
    }

    .trabajosEspeciales {
        width: fit-content;
        max-width: 600px !important;

        border: $orange solid 2px;
        border-radius: 10px;
        font-size: large;
        font-weight: 700;
        margin-bottom: 3rem;

        a {
            text-decoration: none;
            color: $grey;
            display: block;
            padding: 0.5rem;
        }
    }

    /* ====QUIENES SOMOS */

    .h1Quienes {
        text-align: center;
        margin-top: 2rem;
    }

    .seccionQuienes {
        display: flex;
        flex-direction: column;
        align-items: center;

        .quienesSomos {
            .imgQuienes {
                width: 100vw;
                max-width: 800px;
                padding: 3rem 0;
            }

            .imgQuienes2 {
                display: none;
            }

            .imgQuienes3 {
                display: none;
            }
        }

        .textoQuienes {
            width: 95vw;
            max-width: 800px;

            p {
                -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }
        }
    }

    .seccionMision {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 3rem;

        .textoMision {
            width: 95vw;
            max-width: 800px;

            h2 {
                margin-top: 1rem 0;
            }
        }

        .equipo {
            margin-bottom: 2rem;

            .imgEquipo {
                width: 100vw;
                max-width: 900px;
                padding: 3rem 0;
            }
        }
    }

    /* ====CLIENTES==== */

    .h1Clientes {
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
    }

    .seccionClientes {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imgClientes {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100vw;
            max-width: 800px;

            img {
                width: 100vw;
                max-width: 800px;
                padding: 3rem 0;
                animation: entradaIzq 1.5s ease-in-out both;
            }

            @keyframes entradaIzq {
                0% {
                    transform: translateX(-1000px);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }

        }

        .clientes {
            width: 50vw;
            max-width: 800px;

            .listaClientes {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    width: 50vw;
                    max-width: 250px;
                    padding: 0.3rem 0.5rem;
                    margin: 0.5rem 0;
                    text-align: center;
                    border: 1px $orange solid;
                    border-radius: 5px;
                    animation: entradaFotoDerecha 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                    a {
                        width: 50vw;
                        max-width: 250px;
                        color: $grey;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .seccionAgradecimiento {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;

        .agradecimiento {
            width: 95vw;
            max-width: 800px;

            h2 {
                text-align: center;
            }
        }
    }

    /* ====CONTACTO==== */

    .formulario {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-between;

        width: 95vw;
        max-width: 900px;
        height: 120vh;
        padding: 2rem 1rem;
        margin: 2rem 0;
        font-family: inherit;
        font-weight: 700;
        h2 {
            padding: 1rem 0;
        }
        .formButton {
            width: 100%;
            align-self: center;
            margin-top: 1.2rem;
            padding: 1rem 0;
            background-color: $blue;
            color: $orange;
            border: $orange solid 2px;
            border-radius: 5px;
        }
        .formInput {
            color: $grey;
            background-color: transparent;
            border:none;
            border-bottom: $orange 2px solid;
            &:focus {
                border: none;
                border-bottom: turquoise 2px solid;
            }
            option {
                background-color: $blue;
                color: $grey;
            }
        }

        .formTextArea {
            
            background-color: transparent;
            border-color: $orange;
            resize: none;
            color: $grey;
            &:focus {
                border: turquoise 2px solid;
            }
        }
    }

    .mapaContacto {
        width: 100vw;
        max-width: 900px;
        height: 80vh;
        max-height: 900px;
        padding-bottom: 2rem;
    }

    /* ===BOTON WHATSAPP==== */
    .whatsapp {
        width: 15%;
        max-width: 65px;
        position: fixed;
        bottom: 4rem;
        right: 1rem;
        z-index: 2;

        animation: bounce-in-top 1.5s both;

        @keyframes bounce-in-top {
            0% {
                transform: translateY(-500px);
                animation-timing-function: ease-in;
                opacity: 0;
            }

            38% {
                transform: translateY(0);
                animation-timing-function: ease-out;
                opacity: 1;
            }

            55% {
                transform: translateY(-65px);
                animation-timing-function: ease-in;
            }

            72% {
                transform: translateY(0);
                animation-timing-function: ease-out;
            }

            81% {
                transform: translateY(-28px);
                animation-timing-function: ease-in;
            }

            90% {
                transform: translateY(0);
                animation-timing-function: ease-out;
            }

            95% {
                transform: translateY(-8px);
                animation-timing-function: ease-in;
            }

            100% {
                transform: translateY(0);
                animation-timing-function: ease-out;
            }
        }
    }
}